.adappt-logo {
    background: url('../../assets/img/adappt-white.png') no-repeat center center;
    background-size: contain;
}

.logo-lg {
    width: 100%;
    height: 90px;
}

.md-padding {
    padding: 100px;
}