<!-- <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px grid" >
    <div fxFlex="100%">
        <h4 style=" text-align: center"> Building locations on Maps </h4>
    </div>
  <div fxFlex="100%">
        <div class="graph">
            <div id="mapdiv1"  class="chartdiv1"></div>
        </div>
        
    </div>
</div> -->

<h4 style=" text-align: center"> Building locations on Maps </h4>
<div id="mapdiv1" class="chartdiv1"></div>
<div style="height: 20px;position: relative;top: -20px;width: 100px;background: #424242;z-index: 10;"></div>