<mat-toolbar class="mat-elevation-z5" [class.alternative]="otherTheme">
    <mat-toolbar-row>
        <a routerLink="/">
            <div class="adappt-icon-white" style="margin-left:-16px;"></div>
        </a>
        <div fxFlex class="text-center toolbar-header">
            <h1>{{ title }}</h1>
        </div>


        <h3>{{ this.auth.getName()}}</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeTheme()">
            <mat-icon>invert_colors_off</mat-icon>
            <span> Theme Change</span>
          </button>
            <div *ngIf=" router.url !== '/login' ">
                <button mat-menu-item routerLink="/profileSetting">
              <mat-icon>supervised_user_circle</mat-icon>
              <span>Profile Settings</span>
            </button>
            </div>
            <div *ngIf=" router.url !== '/login' ">
                <button mat-menu-item (click)="logOut()">
                <mat-icon>fingerprint</mat-icon>
                <span>Log Out</span>
              </button>
            </div>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>